<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <img src=<% @user.avatar_url %> />
</p>

<p>
  <%= link_to 'All My Transactions', '/mytransactions' %><br>
  <button>All My External Transactions</button><br>
  <button>All My Groups</button><br>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
