*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  text-align: center;
  margin: 0 0 15vh 0;
  color: whitesmoke;
  font-family: 'Rubik', sans-serif;
}

:root {
  --color1: #120136;
  --color2: #035aa6;
  --color3: #40bad5;
  --color4: #fcbf1e;
  --color5: #79d70f;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.font-orange {
  color: var(--color4);
}

.font-green {
  color: var(--color5);
}

.font-dark-blue {
  color: var(--color1);
}

.font-med-blue {
  color: var(--color2);
}

.font-light-blue {
  color: var(--color3);
}

.dark-blue {
  background-color: var(--color1);
}

.light-blue {
  background-color: var(--color3);
}

.med-blue {
  background-color: var(--color2);
}

.green {
  background-color: var(--color5);
}

.orange {
  background-color: var(--color4);
}

.welcome-view {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: stretch;
  text-align: center;
}

.main-title {
  height: 70vh;
  font-size: 6rem;
  padding-top: 20vh;
  line-height: 100px;
  font-family: 'Parisienne', cursive;
}

.button-section {
  height: 15vh;
  padding-top: 1%;
}

.pseudo-button {
  display: inline-block;
  height: 10vh;
  width: 80%;
  border: none;
  color: whitesmoke;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 75px;

}

.small-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding-top: 5vh;
}

.back-button {
  top: 0;
  left: 0;
}

.text-input {
  border: 1px solid grey;
  height: 50px;
  width: 80%;
  border-radius: 5px;
  padding: 2vh;
  font-size: 20px;
  text-align: center;
}

.text-label {
  font-size: 2rem;
  font-weight: bolder;
}

.main-space {
  padding-top: 10vh;
}

.profile {
  padding-top: 5vh;
  height: 100vh;
  width: 100%;
  background: radial-gradient(farthest-corner at 90% 10%, var(--color1), var(--color2))
}

.avatar {
  width: 30vh;
  border-radius: 100%;
}

.banner {
  background-color: var(--color2);
  height: 15vh;
  color: whitesmoke;
  text-align: center;
  padding-top: 5vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.object-display {
  display: flex;
  flex-wrap: nowrap;
  height: 15vh;
  width: 90%;
  border: 1px solid grey;
  margin: 3vh auto;
  background-color: whitesmoke;
}

.object-image {
  width: 15vh;
  margin: 0;
}

.object-info {
  display: inline-block;
  width: 50%;
  padding-top: 5vh;
  padding-left: 5%;
  color: grey;
}

.object-amount {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding-top: 7vh;
  font-weight: bolder;
  color: green;
  font-size: 16px;
}

.total-amount {
  height: 10vh;
  width: 100%;
}

.total {
  width: 60%;
  padding-top: 3vh;
}

.total-result {
  width: 40%;
  padding-top: 3vh;
  font-size: 20px;
}

.new-expense {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.group-info {
  height: 40vh;
}

.group {
  width: 85%;
}