*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  text-align: center;
}

:root {
  --color1: #120136;
  --color2: #035aa6;
  --color3: #40bad5;
  --color4: #fcbf1e;
  --color5: #79d70f;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.dark-blue {
  background-color: var(--color1);
}

.light-blue {
  background-color: var(--color3);
}

.med-blue {
  background-color: var(--color2);
}

.green {
  background-color: var(--color5);
}

.orange {
  background-color: var(--color4);
}

.welcome-view {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: stretch;
  text-align: center;
}

.main-title {
  height: 70%;
  font-size: 4rem;
  padding-top: 20vh;
  line-height: 100px;
}

.button-section {
  height: 15%;
  padding-top: 1%;
}

.pseudo-button {
  display: inline-block;
  height: 80%;
  width: 80%;
  border: none;
  color: whitesmoke;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 75px;
}

.text-input {
  border: 1px solid grey;
  height: 50px;
  width: 80%;
  border-radius: 5px;
}

.text-label {
  font-size: 2rem;
  font-weight: bolder;
}

.main-space {
  padding-top: 20vh;
}