<div class="welcome-view">
  <div class="main-title font-med-blue">
    Money Monster
  </div>
  <div class="button-section">
    <%= link_to "/users" do%>
      <span class="pseudo-button med-blue">Sign In</span></a>
    <% end %>
  </div>
  <div class="button-section">
    <%= link_to "/users/new" do%>
      <span class="pseudo-button orange">Register</span></a>
    <% end %>
  </div>
</div>