<div class="welcome-view">
  <div class="main-title">
    Money Monster
  </div>
  <div class="button-section">
    <a href="/users"><span class="pseudo-button med-blue">Sign In</span></a>
    
  </div>
  <div class="button-section">
    <a href="/users/new"><span class="pseudo-button orange">Register</span></a>
  </div>
</div>